NEXT_PUBLIC_SUPABASE_URL=https://qlqlvhgosxhuibzhfsnh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_5iGJ-ivOPAP4APA_Oe8BWQ_ViN-KV89
CONTENT_ARTICLE_MATCH_SECRET=mysecret123
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_CmTZUmYrmHl1WUIzX_c_EQ_wTP-SU8w
NEXT_PUBLIC_SITE_URL=https://scholarshiptop.com/
OPENAI_API_KEY=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
SCHOLARSHIPS_HUB_SIDEBAR_DEBUG=1
NEXT_PUBLIC_SCHOLARSHIPS_HUB_SIDEBAR_DEBUG=1